
  <style type="text/css">
    .axis path,
    .axis line {
      fill: none;
      stroke: black;
      shape-rendering: crispEdges;
    }
    .axis text {
      font-family: sans-serif;
      font-size: 10px;
    }
    .timeline-label {
      font-family: sans-serif;
      font-size: 12px;
    }
    #timeline2 .axis {
      transform: translate(0px,30px);
      -ms-transform: translate(0px,30px); /* IE 9 */
      -webkit-transform: translate(0px,30px); /* Safari and Chrome */
      -o-transform: translate(0px,30px); /* Opera */
      -moz-transform: translate(0px,30px); /* Firefox */
    }
    .coloredDiv {
      height:20px; width:20px; float:left;
    }
  </style>

<div class="signup-container">
	<div class="col-md-12">
		<h3 class="signup-header">Query DbPedia</h3>
		<hr>
		<br>
	</div>
 
	<div class="signup-form">
		
		<form class="form-horizontal">
 
 
		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="firstname">Query</label>  
			<div class="col-md-5">
			<input id="firstname" name="firstname" ng-model="queryString" type="text" placeholder="stuff" class="form-control input-md">
				
			</div>
		</div>
 
 
		<!-- Button -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="signup"></label>
			<div class="col-md-5">
				<button ng-click="runQuery()" id="signup" name="signup" class="btn btn-success btn-block">Run!</button>
			</div>
		</div>


 
		

		<!-- Output -->		
		<div class="form-group">
			<label class="col-md-4 control-label" for="firstname">Results</label>  
			<div class="col-md-5">
				<span>
					{{queryResponse}}
				</span>
			</div>
		</div>

		</form>

	<div>
		<div id="timeline6"></div>
	</div>
	</div>
 
</div>